<!doctype html>
<html lang="en">
    <body class="bg-gray-900 text-teal-100 font-sans">
        {{template "genericheader" . }}
        <main class="container mx-auto px-4 py-8 text-justify">
            <!-- Why GOTTH -->
            <section class="max-w-3xl mx-auto">
                <h1 class="text-2xl mx-auto">Hello!</h1>
                <p>
                    My name is Nicholas Dewberry, and I'm an entry level SWE
                    that lives off Hibachi. I made this site because I wanted to
                    help contribute to the Open source community and show off a
                    practical tutorial of GOTTH.
                    <br /><br />
                    I want this to be a collaborative project. Everyone can
                    help!
                    <br /><br />
                    If you see something that's wrong, or something that you
                    want to add, you can just make a github issue or message me
                    on Linkedin.
                </p>
            </section>
        </main>

        <!-- Footer (same as on index.html) -->
        {{template "genericfooter" . }}
    </body>
</html>
