<!doctype html>
<html lang="en">
    {{ template "genericheader" . }}
    <body class="bg-gray-900 text-teal-100 font-sans">
        <!-- Main Content Section (Blog Post) -->
        <main class="container mx-auto px-4 py-8 text-justify">
            <!-- Why GOTTH -->
            <section class="max-w-3xl mx-auto">
                <h2 class="text-3xl font-semibold mb-4">What's GOTTH?</h2>
                <p class="mb-4 leading-relaxed bg-">
                    A simple tech stack that we use to create web applications.
                </p>

                <button
                    hx-get="/showmewhygoth/1"
                    hx-swap="innerhtml"
                    class="m-4 bg-indigo-900 text-blue-300 w-full mt-8 rounded-xl font-bold"
                >
                    I need more than that.
                </button>
                <br />
                <button
                    hx-get="/showmewhygoth/10"
                    hx-swap="innerhtml"
                    class="m-4 bg-indigo-900 text-blue-300 w-full mt-8 rounded-xl font-bold"
                >
                    Why do you use net/http instead of using a dedicated web
                    framework? (warning: long)
                </button>

                <h2 class="text-3xl font-semibold mb-4">Why GOTTH?</h2>
                <p class="mb-4 leading-relaxed">
                    Once you get past the learning curve, you're able to build
                    extremely complex, good looking and responsive web
                    applications with minimal front-end friction.
                </p>

                <button
                    hx-get="/showmewhygoth/2"
                    hx-swap="innerhtml"
                    class="m-4 bg-indigo-900 text-blue-300 w-full mt-8 rounded-xl font-bold"
                >
                    Go into more detail.
                </button>

                <button
                    hx-get="/showmewhygoth/3"
                    hx-swap="innerhtml"
                    class="m-4 bg-indigo-900 text-blue-300 w-full mt-8 rounded-xl font-bold"
                >
                    (Warning: Opinionated) What's the author's experience like?
                </button>
            </section>

            <!-- Who is this for? -->
            <section class="text-justify max-w-3xl mx-auto mt-8">
                <h2 class="text-2xl font-semibold mb-4">
                    Who is site this for?
                </h2>
                <p>
                    People who are looking more for a "sparknotes" and
                    step-by-step version of working with GOTTH over a detailed
                    case study.
                </p>

                <button
                    hx-get="/showmewhygoth/4"
                    hx-swap="innerhtml"
                    class="m-4 bg-indigo-900 text-blue-300 w-full mt-8 rounded-xl font-bold"
                >
                    Cool! Who else?
                </button>

                <p class="m-5 text-xl leading-relaxed">
                    If you value speed, simplicity, and maintainable codebases -
                    GOTTH might be the perfect fit.
                </p>
            </section>

            <!-- Pros & Cons -->
            <section class="max-w-3xl mx-auto mt-8">
                <h2 class="text-2xl font-semibold mb-4">Pros &amp; Cons</h2>
                <p class="italic text-sm mb-4">
                    Disclaimer: This is the opinion of the author. Your mileage
                    may vary.
                </p>
                <div class="leading-relaxed">
                    <p class="mb-2"><strong>Pros:</strong></p>
                    <ul class="list-disc list-inside mb-4">
                        <li>
                            No Javascript, and no Javascript ecosystem. Even
                            though you use 2 js libraries - you don't need to
                            write any js code yourself, and both libraries have
                            great documentation/support.
                        </li>
                        <li>
                            Go is a fast powerhouse of a language with a ton of
                            features and great documentation.
                        </li>
                        <li>
                            Minimal JavaScript thanks to HTMX, minimal Frontend
                            thanks to TailwindCSS.
                        </li>
                        <li>
                            Advanced front-end features like animations, panels
                            and more from Tailwind.
                        </li>
                        <li>
                            Templates allow an extremely easy way to create
                            custom HTML pages, and populate them with the
                            necessary information.
                        </li>
                        <li>
                            HTMX lets you implement APIs and dynamic features
                            quickly.
                        </li>
                        <li>
                            Database Agnostic. I like Mongodb, but you can
                            easily swap it for something else using the
                            necessary Go drivers/modules/scripts.
                        </li>
                        <li>
                            Deployment agnostic. We go over using docker, but
                            you can
                        </li>
                        <li>
                            Extensible backend. Want to add live reload (air) or
                            debugging (delve)? Go right ahead.
                        </li>
                        <li>
                            Extensible frontend. Can't live without
                            React/Sveltea Cheese/Goober .js? (Okay, the last one
                            was supposed to be a joke but it's actually a pretty
                            cool project) Well, with some tweaking you can get
                            it working.
                        </li>
                        <li>
                            It teaches you a lot about web development, without
                            being overwhelming.
                        </li>
                    </ul>
                    <p class="mb-2"><strong>Cons:</strong></p>
                    <ul class="list-disc list-inside">
                        <li>
                            Less conventional than popular JS frameworks, so
                            smaller community and less online support. AI is
                            good with dealing with individual parts (the Go
                            code, the HTMX code, Tailwind styling) but struggles
                            to "bring it all together".
                        </li>

                        <button
                            hx-get="/showmewhygoth/5"
                            hx-swap="innerhtml"
                            class="m-4 bg-indigo-900 text-blue-300 w-full mt-8 rounded-xl font-bold"
                        >
                            Wait, go into more detail on your AI experience.
                        </button>

                        <li>
                            An intense learning curve - none of this is taught
                            in University classes, and this is all extremely
                            diferent from typical development methods. With that
                            being said - efficiency and simplicity is one of the
                            benefits of the GOTTH stack, and once you get over
                            the hurdle, you'll find everything is smoother than
                            React/Next.js.
                        </li>
                        <li>
                            HTMX might lack some advanced features that large JS
                            frameworks provide. (I need examples, pls give me
                            some in the github repo).
                        </li>
                        <li>
                            Tailwind css encourages "copy+paste development"
                            with many repeated sections.
                        </li>
                        <button
                            hx-get="/showmewhygoth/6"
                            hx-swap="innerhtml"
                            class="m-4 bg-indigo-900 text-blue-300 w-full mt-8 rounded-xl font-bold"
                        >
                            Why not just use DaisyUI?
                        </button>
                        <li>
                            Debugging is hard - we're using so many
                            interconnected technologies, and identifying which
                            one is giving us the issue can be difficult.
                        </li>
                        <li>
                            While a lot of the logic should apply between
                            development projects (templating, AJAX requests,
                            backend request handling) a lot of it is
                            domain-specific to GOTTH. This means that you might
                            be annoyed if you go back to your React day job
                            after being exposed to GOTTH.
                        </li>
                    </ul>
                </div>
                <br />
                <p class="m-10 text-xl mx-auto">
                    <strong>Why this tutorial:</strong>
                </p>
                <ul class="list-disc list-inside">
                    <li>
                        *Looks left then slowly looks right in an exaggerated
                        manner*... Where else can you go?
                    </li>
                    <li>Dead simple and straightforward.</li>
                    <li>
                        Database/system agnostic. Start with the basics, extend
                        how you want.
                    </li>
                    <li>
                        We use a unique building block approach, so we don't
                        overwhelm new users.
                    </li>
                    <li>
                        At the end, you'll have a deep understanding of each
                        individual piece of technology - as well as how they all
                        fit together at once.
                    </li>
                    <li>
                        This is meant to be extendable, and at the end, I'll
                        have sections detailing how you can add further Go
                        code/tests.
                    </li>
                </ul>
            </section>
        </main>

        {{ template "genericfooter" . }}
    </body>
</html>
